*{
    
    font-family: "poppins",sans-serif;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;


} .logo{
    
letter-spacing: 2px;
text-transform: uppercase;

    font-size: 1.8rem;
    font-weight: 700px;
    
color:#fff;
    
}header{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 150px;
    
    
    z-index: 999;
    width: 100%;
    height: 2vh;
    
    background-color: #636363;
    opacity: 0.8;  
}  
nav a{
    
    text-decoration: none;
    font-size: 1em;
    font-weight: 500px;
    margin-left: 30px;
    transition: 1s;
    color:#fff;
}nav a:hover{
    padding: 10px 20px;
    transform: scale(1.1);
    border-radius: 30px;
    border-top-right-radius: 0;
    background-color: #ff274b;
} 
section{
    padding: 130px 200px;
}.main{
    background:url(features2.jpg) no-repeat;
    
    
    align-items: center;
    
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    
    display: flex;
    background-size: cover;
    background-position: center;
    position: relative;
    

    }  
    

    
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color:#000;
    opacity: .8;
font-size: 2.6em;
font-weight: 700px;

}.main h2{
    
    color:#ff274b;
    font-size: 1.4em;
    font-weight: 500px;
    letter-spacing: 2px;
    padding-bottom: 30px;
    
    
}.main h3{
    color: #ff274b;
    letter-spacing: 1px;
    font-size: 2em;
    font-weight: 700px;
    margin-top: 10px;
    margin-bottom: 30px;
}.main-btn{
    
    text-transform: uppercase;
    color:#ff274b ;
    background-color: black;
    opacity: .8;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600px;
    border-radius: 30px;
    border-top-right-radius: 0;
    display: inline-block;
    letter-spacing: 1px;
    padding: 14px 40px;
    margin-bottom: 40px;
    transition: .7s;
}.main-btn:hover{
    background-color:#ff274b ;
    transform: scale(1.1);
    color: #fff;
    border-top-right-radius: 30px;
}.main a img{
    
    padding-right: 30px;
    color: #fff;
   
    height: 70px;
    width: 90px;
    transition: .7s;
}#img{
position: absolute;
right: 8%;
bottom: 28%;
height: 56%;
width: 32%;
border-radius: 250px;
transition: 1s ease;
}
.title{
    display: flex;
    justify-content: center;
    color: #ff274b;
    font-size: 2.2em;
    font-weight: 800px;
    margin-bottom: 30px;

    
}.main a img:hover{
    transform: scale(1.2);

}#img:hover{
    transform:scale(1.1);
}.content{
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
}.card{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px 0 #000;
    
    padding: 25px;
    margin: 15px;
    border-radius: 10px;
    transition: .7s;
    width: 15em;
}.card:hover{
    transform: scale(1.1);
}.social{
    font-size: 8em;
    color: #3a6cf4;
    text-align: center;
}.inf{
    text-align: center;
}.inf h3{
    color: #ff274b;
    font-weight: 700;
    margin: 10px;
    font-size: 1.2em;
}.projects{
    background-color: #000016;
}.projects.content{
    margin-top: 30px;
}.project-card{
    background-color: #fff;
    border: 5px solid #fff;
    min-height: 12em;
    width: 23em;
    
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition:.7s ;
}.project-card:hover{
    transform: scale(1.1);
}.project-image img{
    width: 100%;
    
}.project-info{
    padding: 1em;
}.project-cate{
    font-size: .8em;
    color:#000
}.project-title{
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    padding: 10px;
    text-transform: uppercase;
}.more-detaile{
    text-decoration: none;
    color: #3a6cf4;
}.more-detaile:hover{
    color: #601cfc;
}.card contact .inf h2{
    color:#000;

    font-size:3.5em;
    font-weight: 600;
    letter-spacing: 3px;
}.footer{
    padding: 30px;
    background-color: #000016;
display: flex;
justify-content: space-between;

animation-name: chan;
animation-duration: 1s;
animation-iteration-count: infinite;

}
@keyframes chan{
from{
    background-color: #ff274b;
    color: #601cfc;
    
}to{
background-color: #601cfc;
color: #000016;

border-radius: 12px;
}
}

.footer .icon img{
width: 45px;
height: 45px;
color: #fff;

    transition: .1s;

    margin-left: 20px;
}.footer-title{
    color: #fff;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;

}.footer span{
color:#3a6cf4;

}.footer .icon img:hover{
transform: scale(1.1);
}.project-info h1{
    font-weight: 600;
    font-size: 2em;
    color:#601cfc;
}

